body {
  margin: 0;

  background-color: black;
  background-image: url("../pics/Death-note-wallpaper.jpg");
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center;
}

header {
  background-color: #FFF7ED;
  border-bottom: 3px solid black;

  padding: 5px;
  margin-bottom: 10px;
}

header h1{
  margin: 0;
  padding-top: 10px;
}

#central {
  display: flex;
  justify-content: center;
}

#main-section h1, #main-section h2, #menu h4 {
  text-align: center;
}

#main-section, #menu {
  background-color: #FFF7ED;
  border: 2px solid black;
  border-radius: 10px;
}

#main-section {
  padding: 5px;
}

#box-main-section {
  width: 50%;
  margin-left: 10px;
}

#box-menu {
  width: 15%;
}

.name {
  font-weight: bold;
  font-size: 1.1em;
}

#BtMenu {display: none;}

/* Adaptation écran moyen */
@media all and (min-width: 700px) and (max-width: 1000px){
  #box-main-section {flex: 7;}
  #box-menu {flex: 2;}
}

/* Adaptation pour mobile */
@media all and (max-width: 700px){
  #box-main-section, #box-menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #central, #BtMenu {display: block;}
  #box-menu {display: none;}
}
