body {
  margin: 0;
  padding: 5px;

  background-color: black;
  background-image: url("pics/Death-note-wallpaper.jpg");
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center;
}

#main-section h1, #main-section h2, #menu h4 {
  text-align: center;
}

#main-section, #menu {
  display: inline-block;
  vertical-align: top;

  background-color: #FFF7ED;
  border: 2px solid black;
  border-radius: 10px;
}

#main-section {
  width: 50%;
  padding: 5px;
}

#menu {
  width: 15%;
  margin-left: 10%;
}
